.page-header
  %h1.text-center= t('.comments')
- @comments.each do |comment|
  .media
    .media-body
      %h5.media-heading
        = comment.user.email
        %small
          = time_ago_in_words(comment.created_at)
          = t('.ago')
      %p= comment.body
%nav{'aria-label' => 'Page navigation', class: 'text-center'}
  = paginate @comments
