%h2.text-center= t('.log_in')
.row
  .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email, t('.email')
        = f.email_field :email, autofocus: true, class: 'form-control'
        %br
        = f.label :password, t('.password')
        = f.password_field :password, autocomplete: "off", class: 'form-control'
        - if devise_mapping.rememberable?
          .checkbox
            %label
              = f.check_box :remember_me
              = t('.remember_me')
            
        %br
        - if @show_captcha
          #recaptcha
            = recaptcha_tags
        %br
        = f.submit t('.log_in'), class: 'btn btn-primary'
    %br
    = render 'devise/shared/links'
