%h2.text-center Resend unlock instructions
.row
  .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: 'form-control'
        %br
        = f.submit "Resend unlock instructions", class: 'btn btn-primary'

    = render "devise/shared/links"
