.page-header
  %h1.text-center
    = @user.email
    = t('.navigation')
%table.table
  %thead
    %th= t('.date_time')
    %th= t('.url')
  %tbody
    - @navigations.each do |navigation|
      %tr
        %td= navigation.created_at
        %td= navigation.url
%nav{'aria-label' => 'Page navigation', class: 'text-center'}
  = paginate @navigations
