.page-header
  %h1.text-center
    = @user.email
    comments
%table.table
  %thead
    %th Date/time
    %th Picture
    %th Comment
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.created_at
        %td= comment.picture_id
        %td= comment.body
%nav{'aria-label' => 'Page navigation', class: 'text-center'}
  = paginate @comments