%a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => "#myModal"}
  .image-holder-show.center-block
    %img.img-responsive.center-block{src: "#{@picture.image.url}"}

.modal.fade.bs-example-modal-lg{id: "myModal", tabindex: "-1", role: "dialog", 'aria-labelledby' => "myModalLabel"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content  
      .modal-body
        %button.close{type: "button", 'data-dismiss' => "modal", 'aria-label' => "Close"}
          &times;
        %img.img-responsive.center-block{src: "#{@picture.image.url}"}
      .modal-footer
        %button.btn.btn-default{type: "button", 'data-dismiss' => "modal"}
          Close

= render @like.empty? ? 'like_it' : 'dislike_it'
%br
%h4
  = pluralize(@comments.count, 'comment').upcase
= render 'form' if user_signed_in?
- @comments.each do |comment|
  .media
    .media-body
      %h5.media-heading
        = comment.user.email
        %small
          = time_ago_in_words(comment.created_at)
          ago
      %p= comment.body
%nav{'aria-label' => 'Page navigation', class: 'text-center'}
  = paginate @comments