%a.thumbnail{href: '#', 'data-toggle' => 'modal', 'data-target' => "#myModal"}
  .image-holder-show.center-block
    %img.img-responsive.center-block{src: "#{@picture.image.url}"}

.modal.fade.bs-example-modal-lg{id: "myModal", tabindex: "-1", role: "dialog", 'aria-labelledby' => "myModalLabel"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content  
      .modal-body
        %button.close{type: "button", 'data-dismiss' => "modal", 'aria-label' => "Close"}
          &times;
        %img.img-responsive.center-block{src: "#{@picture.image.url}"}
      .modal-footer
        %button.btn.btn-default{type: "button", 'data-dismiss' => "modal"}
          Close

- if user_signed_in?
  #like-form
    = render @like.nil? ? 'like_it' : 'dislike_it'
%br
%h4#comments-counter
  = @comments_counter
  = t('.comment', count: @comments_counter)
- if user_signed_in?
  #comment-form
    = render 'form'
.comments-list
  = render @comments
%nav{'aria-label' => 'Page navigation', class: 'text-center pagination-holder'}
  = paginate @comments