%img.img-responsive.center-block{src: "#{@picture.image.url}"}
  = render 'likes'
  %h4 COMMENTS
  = render 'form' if user_signed_in?
  - @comments.each do |comment|
    .media
      .media-body
        %h5.media-heading
          = comment.user.email
          %small= time_ago_in_words(comment.created_at)
        %p= comment.body
        