.page-header
  %h1.text-center= @category.category_name.capitalize
  - if user_signed_in?
    #subscribe-form.text-center
      = render @subscription.nil? ? 'subscribe' : 'unsubscribe'
- if @pictures
  .row
    - @pictures.each do |picture|
      %div.col-xs-6.col-sm-4.col-md-3
        %a.thumbnail{href: "#{category_picture_url(picture.category.category_name, picture)}"}
          .image-holder.center-block
            %img.img-responsive.center-block{src: "#{picture.image.thumb.url}"}
          .caption.text-center
            = image_tag 'heart.png'
            %span.small= pluralize(picture.likes_count, 'like')
  %nav{'aria-label' => 'Page navigation', class: 'text-center'}
    = paginate @pictures
  