!!! 5
%html
  %head
    %title= t('gallery')
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/header'
    %main
      .container
        - flash.each do |key, value|
          - alert_class = ( key == 'notice' || key == 'success' ) ? 'success' : 'danger'
          = content_tag(:div, value, class: "alert alert-#{alert_class}")
      
        = yield

    =render 'layouts/footer'
